.banner {
    background: url("https://lh3.googleusercontent.com/p/AF1QipOXmwOsg8yrIZpyMPfCXgc9IcVR9LcM3-ohd9d5=s1600-w400") no-repeat center center;
    background-size: cover;
    padding-top:20% ;
    padding-bottom: 20%;
    color: #fff;
}